{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is a sample</h1>
<p>This is a sample.</p>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.File_upload }}
    <input type="file" name="file">
    <input value="up" name="upload" id="up1" type="submit" >
<!--    <script src= "{% static '/js/buttonsubmit.js' %}" type="text/javascript"></script>-->
<!--    <button type="button" class="btn btn-primary" id="btn-upload-file" onclick = submitForm("{% url 'sample_api_url' %}")>Upload file</button>-->
</form>

</body>
</html>