{% load static %}

<html>
  <head>
    <title>Visualization</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/fstyles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/axure/globals.js' %}"></script>
    <script src="{% static 'js/axutils.js' %}"></script>
    <script src="{% static 'js/axure/annotation.js' %}"></script>
    <script src="{% static 'js/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/axure/doc.js' %}"></script>
    <script src="{% static 'js/messagecenter.js' %}"></script>
    <script src="{% static 'js/axure/events.js' %}"></script>
    <script src="{% static 'js/axure/recording.js' %}"></script>
    <script src="{% static 'js/axure/action.js' %}"></script>
    <script src="{% static 'js/axure/expr.js' %}"></script>
    <script src="{% static 'js/axure/geometry.js' %}"></script>
    <script src="{% static 'js/axure/flyout.js' %}"></script>
    <script src="{% static 'js/axure/model.js' %}"></script>
    <script src="{% static 'js/axure/repeater.js' %}"></script>
    <script src="{% static 'js/axure/sto.js' %}"></script>
    <script src="{% static 'js/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/axure/variables.js' %}"></script>
    <script src="{% static 'js/axure/drag.js' %}"></script>
    <script src="{% static 'js/axure/move.js' %}"></script>
    <script src="{% static 'js/axure/visibility.js' %}"></script>
    <script src="{% static 'js/axure/style.js' %}"></script>
    <script src="{% static 'js/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/axure/tree.js' %}"></script>
    <script src="{% static 'js/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/axure/legacy.js' %}"></script>
    <script src="{% static 'js/axure/viewer.js' %}"></script>
    <script src="{% static 'js/axure/math.js' %}"></script>
    <script src="{% static 'js/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/document.js' %}"></script>
    <script src="{% static 'js/data.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="m0" class="ax_default box_1">
        <div id="m0_div" class=""></div>
        <div id="m0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="m1" class="ax_default" data-left="0" data-top="0" data-width="1600" data-height="900">

        <!-- Unnamed (Group) -->
        <div id="m2" class="ax_default" data-left="0" data-top="0" data-width="1600" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="m3" class="ax_default box_1">
            <div id="m3_div" class=""></div>
            <div id="m3_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m4" class="ax_default box_1">
        <div id="m4_div" class=""></div>
        <div id="m4_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="m5" class="ax_default image">
        <a href="{% url 'user:profile'%}">
        <img id="m5_img" class="img " src="/media/image/u5.svg"/>
          </a>
        <div id="m5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m6" class="ax_default heading_3">
        <div id="m6_div" class=""></div>
        <div id="m6_text" class="text ">
          <p><span>Parameters</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <form id="upload_form" enctype="multipart/form-data" method="post">
          {% csrf_token %}
<!--          {{ form.upload }}-->
      <div id="m7" class="ax_default button">
        <div id="m7_div" class=""></div>
        <div id="m7_text" class="text ">

         <input type="file" name="data" id="upload" onchange="document.getElementById('m16_input').value=document.getElementById('upload').files[0].name" hidden/>
         <label for="upload">Choose file</label>

        </div>
      </div>
</form>


      <!-- Unnamed (Rectangle) -->
      <div id="m8" class="ax_default heading_3">
        <div id="m8_div" class=""></div>
        <div id="m8_text" class="text ">
          <p><span>Data</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m9" class="ax_default button">
        <div id="m9_div" class=""></div>
        <div id="m9_text" class="text ">
          <input value="train" name="train"  id="update_log_button" type="button" onclick="query('111')" hidden/>
          <label for="update_log_button">train</label>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="m10" class="ax_default icon">
        <img id="m10_img" class="img " src="/media/image/u10.svg"/>
        <div id="m10_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m11" class="ax_default button">
        <div id="m11_div" class=""></div>
        <div id="m11_text" class="text ">
          <p><span>Save</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m12" class="ax_default heading_3">
        <div id="m12_div" class=""></div>
        <div id="m12_text" class="text ">
          {% if user.is_authenticated %}
          <p><span>Welcome, {{ user.get_username }}</span></p>
        {% endif %}
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="m13" class="ax_default heading_1">
        <div id="m13_div" class=""></div>
        <div id="m13_text" class="text ">
          <p><span>Self-Organizing Map</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="m14" class="ax_default image">
        <img id="m14_img" class="img " style="visibility: hidden" src="/media/image/loading.gif"/>
        <div id="m14_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>



      <!-- Unnamed (Rectangle) -->
      <div id="m15" class="ax_default button">
        <div id="m15_div" class=""></div>
        <div id="m15_text" class="text ">
          <input type="submit" id="submit_upload" form="upload_form" hidden/>
          <label for="submit_upload">upload</label>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="m16" class="ax_default text_field">
        <img id="m16_img" class="img " src="/media/image/u16.svg"/>
        <input id="m16_input" type="text" class="m16_input"/>
      </div>

      <!-- Close Icon (Shape) -->
      <div id="m17" class="ax_default icon ax_default_hidden" data-label="Close Icon" style="display:none; visibility: hidden">
        <img id="m17_img" class="img " src="/media/image/close_icon_u17.svg"/>
        <div id="m17_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="m18" class="ax_default ax_default_hidden" style="display:none; visibility: hidden">
        <img id="m18_menu" class="img " src="/media/image/u18_menu.png" alt="u18_menu"/>

        <!-- Unnamed (Table) -->
        <div id="m19" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="m20" class="ax_default menu_item">
            <img id="m20_img" class="img " src="/media/image/u20.png"/>
            <div id="m20_text" class="text ">
              <p><span>Profile</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="m21" class="ax_default menu_item">
            <img id="m21_img" class="img " src="/media/image/u20.png"/>
            <div id="m21_text" class="text ">
              <p><span>Log in</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="m22" class="ax_default menu_item">
            <img id="m22_img" class="img " src="/media/image/u22.png"/>
            <div id="m22_text" class="text ">
              <p><span>Log out</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="m23" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="m24" class="ax_default table_cell">
          <img id="m24_img" class="img " src="/media/image/u24.png"/>
          <div id="m24_text" class="text " style="font-weight: bold;">
            <p><span>name</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m25" class="ax_default table_cell">
          <img id="m25_img" class="img " src="/media/image/u25.png"/>
          <div id="m25_text" class="text ">
            <p><span>{{ name }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m26" class="ax_default table_cell">
          <img id="m26_img" class="img " src="/media/image/u26.png"/>
          <div id="m26_text" class="text " style="font-weight: bold;">
            <p><span>attribute</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m27" class="ax_default table_cell">
          <img id="m27_img" class="img " src="/media/image/u27.png"/>
          <div id="m27_text" class="text ">
            <p><span>{{ attribute }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m28" class="ax_default table_cell">
          <img id="m28_img" class="img " src="/media/image/u28.png"/>
          <div id="m28_text" class="text " style="font-weight: bold;">
            <p><span>size</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m29" class="ax_default table_cell">
          <img id="m29_img" class="img " src="/media/image/u29.png"/>
          <div id="m29_text" class="text ">
            <p><span>{{ size }}</span></p>
          </div>
        </div>
      </div>


      <!-- Unnamed (Table) -->
      <div id="m30" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="m31" class="ax_default table_cell">
          <img id="m31_img" class="img " src="/media/image/u31.png"/>
          <div id="m31_text" class="text " style="font-weight: bold;">
            <p><span>Parameter</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m32" class="ax_default table_cell">
          <img id="m32_img" class="img " src="/media/image/u32.png"/>
          <div id="m32_text" class="text " style="font-weight: bold;">
            <p><span>Value</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m33" class="ax_default table_cell">
          <img id="m33_img" class="img " src="/media/image/u33.png"/>
          <div id="m33_text" class="text " style="font-weight: bold;">
            <p><span>x</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m34" class="ax_default table_cell">
          <img id="m34_img" class="img " src="/media/image/u34.png"/>
          <div id="m34_text" class="text " style="visibility: visible">
            <input type="text" id="x" name="x" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="enter number of x here (int)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m35" class="ax_default table_cell">
          <img id="m35_img" class="img " src="/media/image/u35.png"/>
          <div id="m35_text" class="text " style="font-weight: bold;">
            <p><span>y</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m36" class="ax_default table_cell">
          <img id="m36_img" class="img " src="/media/image/u36.png"/>
          <div id="m36_text" class="text " style="visibility: visible">
            <input type="text" id="y" name="y" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="enter number of y here (int)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m37" class="ax_default table_cell">
          <img id="m37_img" class="img " src="/media/image/u35.png"/>
          <div id="m37_text" class="text " style="font-weight: bold;">
            <p><span>input_len</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m38" class="ax_default table_cell">
          <img id="m38_img" class="img " src="/media/image/u36.png"/>
          <div id="m38_text" class="text " style="visibility: visible">
            <input type="text" id="len" name="len" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="empty to auto detect (int)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m39" class="ax_default table_cell">
          <img id="m39_img" class="img " src="/media/image/u35.png"/>
          <div id="m39_text" class="text " style="font-weight: bold;">
            <p><span>sigma</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m40" class="ax_default table_cell">
          <img id="m40_img" class="img " src="/media/image/u36.png"/>
          <div id="m40_text" class="text " style="visibility: visible">
            <input type="text" id="sigmas" name="sigmas" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="default value: 0.3 (double)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m41" class="ax_default table_cell">
          <img id="m41_img" class="img " src="/media/image/u35.png"/>
          <div id="m41_text" class="text " style="font-weight: bold;">
            <p><span>learning_rate</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m42" class="ax_default table_cell">
          <img id="m42_img" class="img " src="/media/image/u36.png"/>
          <div id="m42_text" class="text " style="visibility: visible">
            <input type="text" id="LR" name="LR" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="default value: 0.5 (double)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m43" class="ax_default table_cell">
          <img id="m43_img" class="img " src="/media/image/u35.png"/>
          <div id="m43_text" class="text " style="font-weight: bold;">
            <p><span>Iteration number</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m44" class="ax_default table_cell">
          <img id="m44_img" class="img " src="/media/image/u36.png"/>
          <div id="m44_text" class="text " style="visibility: visible">
            <input type="text" id="Iteration" name="Iteration" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="default value: 100 (int)">
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m45" class="ax_default table_cell">
          <img id="m45_img" class="img " src="/media/image/u35.png"/>
          <div id="m45_text" class="text " style="font-weight: bold;">
            <p><span>neighborhood</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m46" class="ax_default table_cell">
          <img id="m46_img" class="img " src="/media/image/u36.png"/>
          <div id="m46_text" class="text " style="visibility: visible">
            {% with 'gaussian mexican_hat bubble triangle' as neighbour_list %}
            <select class="form-control" id="neighbour_option" name="class_name" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align-last:center;">
                {% for item in neighbour_list.split %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select>
            {% endwith %}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m47" class="ax_default table_cell">
          <img id="m47_img" class="img " src="/media/image/u35.png"/>
          <div id="m47_text" class="text " style="font-weight: bold;">
            <p><span>topology</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m48" class="ax_default table_cell">
          <img id="m48_img" class="img " src="/media/image/u36.png"/>
          <div id="m48_text" class="text " style="visibility: visible">
            {% with 'rectangular hexagonal' as topology_list %}
            <select class="form-control" id="topology_option" name="class_name" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align-last:center;">
                {% for item in topology_list.split %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select>
            {% endwith %}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m49" class="ax_default table_cell">
          <img id="m49_img" class="img " src="/media/image/u35.png"/>
          <div id="m49_text" class="text " style="font-weight: bold;">
            <p><span>activation_distance</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m50" class="ax_default table_cell">
          <img id="m50_img" class="img " src="/media/image/u36.png"/>
          <div id="m50_text" class="text " style="visibility: visible">
            {% with 'euclidean cosine manhattan chebyshev' as activation_list %}
            <select class="form-control" id="activation_option" name="class_name" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align-last:center;">
                {% for item in activation_list.split %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select>
            {% endwith %}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m51" class="ax_default table_cell">
          <img id="m51_img" class="img " src="/media/image/u51.png"/>
          <div id="m51_text" class="text " style="font-weight: bold;">
            <p><span>random_seed</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="m52" class="ax_default table_cell">
          <img id="m52_img" class="img " src="/media/image/u52.png"/>
          <div id="m52_text" class="text " style="visibility: visible">
            <input type="text" id="random_seed" name="random_seed" style="width: 100%;height:100%;background-color:#D7E2CF;border:0;text-align: center;" placeholder="default value: None (double)">
          </div>
        </div>
      </div>


        <!-- save button -->
        <div id="mv53" style="background-color:#FFFFFF;border: thin solid black;visibility:hidden;">
        <div id="mv53_state0" class="panel_state" data-label="State 1" style="">
          <div id="mv53_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="m54" class="ax_default heading_1">
              <div id="m54_div" class=""></div>
              <div id="m54_text" class="text ">
                <p><span>Save successfully!</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m55" class="ax_default primary_button" style="cursor: pointer;">
              <div id="m55_div" class="" tabindex="0"></div>
              <div id="m55_text" class="text ">
                <p><span>Publish</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m56" class="ax_default primary_button">
              <div id="m56_div" class=""></div>
              <div id="m56_text" class="text ">
                <p><span>Exit</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m57" class="ax_default box_1">
              <div id="m57_div" class=""></div>
              <div id="m57_text" class="text ">
                <p><span>visualization</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m58" class="ax_default heading_3">
              <div id="m58_div" class=""></div>
              <div id="m58_text" class="text ">
                <p><span>Enter your visualization name: </span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m59" class="ax_default box_1">
              <div id="m59_div" class=""></div>
              <div id="m59_text" class="text ">
                <p><span>anthor</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m60" class="ax_default heading_3">
              <div id="m60_div" class=""></div>
              <div id="m60_text" class="text ">
                <p><span>Enter your name: </span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m61" class="ax_default box_1">
              <div id="m61_div" class=""></div>
              <div id="m61_text" class="text ">
                <p><span>description</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="m62" class="ax_default heading_3">
              <div id="m62_div" class=""></div>
              <div id="m62_text" class="text ">
                <p><span>Enter your description: </span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--      <script src="{% static 'js/sigma.js-1.2.1/plugins/sigma.parsers.json/sigma.parsers.json.js' %}"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/sigma.core.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/conrad.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/utils/sigma.utils.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/utils/sigma.polyfills.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/sigma.settings.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.dispatcher.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.configurable.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.graph.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.camera.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.quad.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/classes/sigma.classes.edgequad.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/captors/sigma.captors.mouse.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/captors/sigma.captors.touch.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/sigma.renderers.canvas.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/sigma.renderers.webgl.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/sigma.renderers.svg.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/sigma.renderers.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.utils.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/middlewares/sigma.middlewares.copy.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/misc/sigma.misc.animation.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/misc/sigma.misc.bindEvents.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
    <script src="{% static 'js/sigma.js-1.2.1/src/misc/sigma.misc.drawHovers.js' %}"></script>

    <script type="text/javascript">
      var data;
      function setValue(val){
          data=val;
      }
      function getValue(){
          return data;
      }

      function cleanValue(){
          data = null;
      }

      var s = new sigma(
        {
          renderer: {
          container: 'm14',
          type: 'canvas'
        },
           settings: {
            edgeLabelSize: 'proportional',
           minArrowSize: 10
          }
        }
      );


      function query(UID){

      $.ajax({
      type: "post",
      url: "{% url 'som:user_query_info' %}",
      dataType: "json",
      data: JSON.stringify({user_id: "UID",data_id:"{{ data_id }}",
        x:document.getElementById('x').value,
        y:document.getElementById('y').value,
        len:document.getElementById('len').value,
        sigmas:document.getElementById('sigmas').value,
        lr:document.getElementById('LR').value,
        iteration:document.getElementById('Iteration').value,
        neighbour:document.getElementById('neighbour_option').value,
        topology:document.getElementById('topology_option').value,
        activation:document.getElementById('activation_option').value,
        random:document.getElementById('random_seed').value}),
      beforeSend: function(){
              cleanValue();
              s.graph.clear();
              s.refresh();
              $('#m14_img').css('visibility','visible');
          },
      complete: function(){
              $('#m14_img').css('visibility','hidden');
          },
      success: function as(raw_data) {

      setValue(raw_data);
      s.graph.read(getValue());
      s.refresh();

      },
      error: function() {
            alert("Failure to access, please refresh the page");
            }
      })
      ;
      }
    </script>

    </div>
    <script src="{% static 'js/axure/ios.js' %}"></script>
  </body>
</html>
