body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100%;
  height:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
  min-width: 1710px;
  min-height: 950px;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
  width:100%;
  height:100%;
}
#m0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  min-width:1000px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:55px;
  display:flex;
  min-width:1000px;
}
#m0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#m2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#m3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.39215686274509803);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display:flex;
}
#m3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100%;
  min-height:900px;
  background:inherit;
  background-color:rgba(176, 203, 155, 0.9529411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:400px;
  height:100%;
  display:flex;
}
#m4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:37px;
}

#m5 {
  border-width:0px;
  position:absolute;
  right:2%;
  top:9px;
  width:47px;
  height:37px;
  display:flex;
}
#m5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#m6 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:500px;
  width:180px;
  height:24px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#m6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m7 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:76px;
  width:146px;
  height:27px;
  display:flex;
}
#m7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#m8 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:156px;
  width:101px;
  height:24px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#m8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m9 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:423px;
  width:101px;
  height:27px;
  display:flex;
}
#m9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:39px;
}
#m10 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:51px;
  height:39px;
  display:flex;
}
#m10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m11 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:89px;
  width:146px;
  height:27px;
  display:flex;
}
#m11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#m12 {
  border-width:0px;
  position:absolute;
  right:6%;
  top:16px;
  width:200px;
  height:23px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#m12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:800;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#m13 {
  border-width:0px;
  position:absolute;
  right:38%;
  top:15px;
  width:300px;
  height:41px;
  display:flex;
  font-size:16px;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:800;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#m13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:800px;
}
#m14 {
  border-width:0px;
  position:absolute;
  right:5%;
  left:550px;
  top:147px;
  width:1350px;
  height:800px;
  display:flex;
}
#m14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#m15 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:76px;
  width:90px;
  height:27px;
  display:flex;
}
#m15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.selected.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.selected.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseDown.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseDown.selected.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseDown.selected.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseDown.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.mouseDown.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.mouseDown.selected.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.mouseDown.selected.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.mouseOver.mouseDown.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.focused.selected.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.focused.selected.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.focused.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_input.selected.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#m16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:27px;
}
#m16 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:118px;
  width:359px;
  height:27px;
  display:flex;
}
#m16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m16_img.hint {
}
#m16.hint {
}
#m16_img.disabled {
}
#m16.disabled {
}
#m16_img.selected.hint {
}
#m16.selected.hint {
}
#m16_img.selected.error.hint {
}
#m16.selected.error.hint {
}
#m16_img.error.hint {
}
#m16.error.hint {
}
#m16_img.mouseOver.hint {
}
#m16.mouseOver.hint {
}
#m16_img.mouseOver.selected.hint {
}
#m16.mouseOver.selected.hint {
}
#m16_img.mouseOver.selected.error.hint {
}
#m16.mouseOver.selected.error.hint {
}
#m16_img.mouseOver.error.hint {
}
#m16.mouseOver.error.hint {
}
#m16_img.mouseDown.hint {
}
#m16.mouseDown.hint {
}
#m16_img.mouseDown.selected.hint {
}
#m16.mouseDown.selected.hint {
}
#m16_img.mouseDown.selected.error.hint {
}
#m16.mouseDown.selected.error.hint {
}
#m16_img.mouseDown.error.hint {
}
#m16.mouseDown.error.hint {
}
#m16_img.mouseOver.mouseDown.hint {
}
#m16.mouseOver.mouseDown.hint {
}
#m16_img.mouseOver.mouseDown.selected.hint {
}
#m16.mouseOver.mouseDown.selected.hint {
}
#m16_img.mouseOver.mouseDown.selected.error.hint {
}
#m16.mouseOver.mouseDown.selected.error.hint {
}
#m16_img.mouseOver.mouseDown.error.hint {
}
#m16.mouseOver.mouseDown.error.hint {
}
#m16_img.focused.hint {
}
#m16.focused.hint {
}
#m16_img.focused.selected.hint {
}
#m16.focused.selected.hint {
}
#m16_img.focused.selected.error.hint {
}
#m16.focused.selected.error.hint {
}
#m16_img.focused.error.hint {
}
#m16.focused.error.hint {
}
#m16_img.hint.disabled {
}
#m16.hint.disabled {
}
#m16_img.selected.disabled {
}
#m16.selected.disabled {
}
#m16_img.error.disabled {
}
#m16.error.disabled {
}
#m16_img.selected.hint.disabled {
}
#m16.selected.hint.disabled {
}
#m16_img.error.hint.disabled {
}
#m16.error.hint.disabled {
}
#m16_img.selected.error.disabled {
}
#m16.selected.error.disabled {
}
#m16_img.selected.error.hint.disabled {
}
#m16.selected.error.hint.disabled {
}
#m17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#m17 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:109px;
  width:20px;
  height:17px;
  display:flex;
}
#m17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m17_img.mouseOver {
}
#m17.mouseOver {
}
#m17_img.mouseOver.mouseDown {
}
#m17.mouseOver.mouseDown {
}
#m17_img.mouseOver.selected {
}
#m17.mouseOver.selected {
}
#m17_img.mouseOver.error {
}
#m17.mouseOver.error {
}
#m17_img.mouseOver.hint {
}
#m17.mouseOver.hint {
}
#m17_img.mouseOver.selected.error {
}
#m17.mouseOver.selected.error {
}
#m17_img.mouseOver.selected.hint {
}
#m17.mouseOver.selected.hint {
}
#m17_img.mouseOver.selected.error.hint {
}
#m17.mouseOver.selected.error.hint {
}
#m17_img.mouseOver.error.hint {
}
#m17.mouseOver.error.hint {
}
#m17_img.mouseOver.mouseDown.selected {
}
#m17.mouseOver.mouseDown.selected {
}
#m17_img.mouseOver.mouseDown.error {
}
#m17.mouseOver.mouseDown.error {
}
#m17_img.mouseOver.mouseDown.hint {
}
#m17.mouseOver.mouseDown.hint {
}
#m17_img.mouseOver.mouseDown.selected.error {
}
#m17.mouseOver.mouseDown.selected.error {
}
#m17_img.mouseOver.mouseDown.selected.hint {
}
#m17.mouseOver.mouseDown.selected.hint {
}
#m17_img.mouseOver.mouseDown.selected.error.hint {
}
#m17.mouseOver.mouseDown.selected.error.hint {
}
#m17_img.mouseOver.mouseDown.error.hint {
}
#m17.mouseOver.mouseDown.error.hint {
}
#m17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m18 {
  border-width:0px;
  position:absolute;
  right:50px;
  top:38px;
  width:147px;
  height:96px;
}
#m18_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#m19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:96px;
}
#m20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#m20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
  display:flex;
}
#m20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#m21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:147px;
  height:30px;
  display:flex;
}
#m21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#m22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:147px;
  height:36px;
  display:flex;
}
#m22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m23 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:204px;
  width:351px;
  height:187px;
}
#m24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
}
#m24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
  display:flex;
}
#m24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:58px;
}
#m25 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:206px;
  height:58px;
  display:flex;
}
#m25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:63px;
}
#m26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:143px;
  height:63px;
  display:flex;
}
#m26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:63px;
}
#m27 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:58px;
  width:206px;
  height:63px;
  display:flex;
}
#m27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:66px;
}
#m28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:143px;
  height:66px;
  display:flex;
}
#m28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:66px;
}
#m29 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:121px;
  width:206px;
  height:66px;
  display:flex;
}
#m29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m30 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:550px;
  width:349px;
  height:378px;
}
#m31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
}
#m31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:34px;
  display:flex;
}
#m31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
}
#m32 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:206px;
  height:34px;
  display:flex;
}
#m32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:143px;
  height:36px;
  display:flex;
}
#m33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m34 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:34px;
  width:206px;
  height:36px;
  display:flex;
}
#m34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:143px;
  height:36px;
  display:flex;
}
#m35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m36 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:64px;
  width:206px;
  height:36px;
  display:flex;
}
#m36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:143px;
  height:36px;
  display:flex;
}
#m37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m38 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:100px;
  width:206px;
  height:36px;
  display:flex;
}
#m38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:143px;
  height:36px;
  display:flex;
}
#m39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m40 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:136px;
  width:206px;
  height:36px;
  display:flex;
}
#m40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:143px;
  height:36px;
  display:flex;
}
#m41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m42 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:172px;
  width:206px;
  height:36px;
  display:flex;
}
#m42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:143px;
  height:36px;
  display:flex;
}
#m43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m44 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:208px;
  width:206px;
  height:36px;
  display:flex;
}
#m44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:143px;
  height:36px;
  display:flex;
}
#m45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m46 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:244px;
  width:206px;
  height:36px;
  display:flex;
}
#m46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:143px;
  height:36px;
  display:flex;
}
#m47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m48 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:280px;
  width:206px;
  height:36px;
  display:flex;
}
#m48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:143px;
  height:36px;
  display:flex;
}
#m49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m50 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:316px;
  width:206px;
  height:36px;
  display:flex;
}
#m50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#m51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#m51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:143px;
  height:36px;
  display:flex;
}
#m51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#m52 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:352px;
  width:206px;
  height:36px;
  display:flex;
}
#m52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#mv53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:26px;
}
#mv53 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:248px;
  width:631px;
  height:405px;
}
#mv53_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:405px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#mv53_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#m54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#499D01;
  text-align:center;
}
#m54 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:40px;
  width:287px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#499D01;
  text-align:center;
}
#m54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m54_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#m55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 157, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#m55 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:337px;
  width:250px;
  height:50px;
  display:flex;
  font-size:26px;
}
#m55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 157, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#m56 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:337px;
  width:110px;
  height:50px;
  display:flex;
  font-size:26px;
}
#m56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#m57 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:105px;
  width:296px;
  height:57px;
  display:flex;
  font-size:20px;
}
#m57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m58 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:123px;
  width:262px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m58 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m58_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#m59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#m59 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:177px;
  width:296px;
  height:57px;
  display:flex;
  font-size:20px;
}
#m59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m60 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:195px;
  width:149px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m60 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m60_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#m61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#m61 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:249px;
  width:296px;
  height:57px;
  display:flex;
  font-size:20px;
}
#m61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#m61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#m62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m62 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:267px;
  width:199px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#m62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#m62_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:34px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:235px;
  height:34px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:114px;
  height:30px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:34px;
  width:235px;
  height:30px;
  display:flex;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  /*visibility:hidden;*/
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:114px;
  height:30px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:64px;
  width:235px;
  height:30px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  /*visibility:hidden;*/
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.39215686274509803);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:177px;
  width:414px;
  height:591px;
  display:flex;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  /*visibility:hidden;*/
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:591px;
  background:inherit;
  background-color:rgba(215, 226, 207, 0.9529411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:177px;
  width:50px;
  height:591px;
  /*display:flex;*/
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:470px;
  background:inherit;
  background-color:rgba(215, 226, 207, 0.9529411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:relative;
  left:1440px;
  top:280px;
  width:349px;
  height:470px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  /*visibility:hidden;*/
}
