body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#p0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:888px;
}
#p0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1920px;
  height:888px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
}
#p1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  display:flex;
}
#p1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#p2 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:5px;
  width:39px;
  height:39px;
  display:flex;
  color:#000000;
}
#p2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#p3 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:14px;
  width:88px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#p3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#p3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#p4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#p4 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:9px;
  width:130px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#p4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#p4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#p5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#p5 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:38px;
  height:35px;
  display:flex;
}
#p5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p6-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#p6-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#p6-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#p6 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:192px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#p7 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:212px;
  width:1663px;
  height:630px;
}
#p8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
  display:flex;
}
#p8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p9 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p10 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:0px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p11 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:0px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p12 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:0px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:151px;
  height:90px;
  display:flex;
}
#p14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p15 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:90px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p16 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p17 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:90px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p18 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:90px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:151px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p21 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:180px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p22 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:180px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p23 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:180px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p24 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:180px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:151px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p27 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:270px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p28 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:270px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p29 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:270px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p30 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:270px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:151px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p33 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:360px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p34 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:360px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p35 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:360px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p36 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:360px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:151px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p39 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:450px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p40 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:450px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p41 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:450px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p42 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:450px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:90px;
}
#p44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:151px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;

}
#p45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:90px;
}
#p45 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:540px;
  width:198px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:90px;
}
#p46 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:540px;
  width:430px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:90px;
}
#p47 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:540px;
  width:781px;
  height:90px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#p47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:90px;
}
#p48 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:540px;
  width:103px;
  height:90px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0000FF;
}
#p48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p50 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:214px;
  width:148px;
  height:88px;
  display:flex;
}
#p50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p51 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:304px;
  width:148px;
  height:88px;
  display:flex;
}
#p51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p52 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:394px;
  width:148px;
  height:88px;
  display:flex;
}
#p52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p53 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:484px;
  width:148px;
  height:88px;
  display:flex;
}
#p53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p54 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:574px;
  width:148px;
  height:88px;
  display:flex;
}
#p54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p55 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:663px;
  width:148px;
  height:88px;
  display:flex;
}
#p55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:88px;
}
#p56 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:752px;
  width:148px;
  height:88px;
  display:flex;
}
#p56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#p57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Bold', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#499D01;
  text-align:center;
}
#p57 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:115px;
  width:547px;
  height:45px;
  display:flex;
  font-family:'Comic Sans MS Bold', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#499D01;
  text-align:center;
}
#p57 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#p57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#p58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:26px;
}
#p58 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:876px;
  width:198px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#p58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#p59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:26px;
}
#p59 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:876px;
  width:198px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#p59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#p59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}