body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#v0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:888px;
}
#v0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1920px;
  height:888px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#v0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#v1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
}
#v1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  display:flex;
}
#v1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#v2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#v2 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:5px;
  width:39px;
  height:39px;
  display:flex;
  color:#000000;
}
#v2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#v3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#v3 {
  border-width:0px;
  position:absolute;
  left:1775px;
  top:0px;
  width:88px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#v3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#v3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#v4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#v4 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:-8px;
  width:130px;
  height:26px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:600;
  font-style:normal;
  /*font-size:28px;*/
}
#v4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#v4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#v5 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:38px;
  height:35px;
  display:flex;
}
#v5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#v6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Bold', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#499D01;
  text-align:center;
}
#v6 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:83px;
  width:547px;
  height:45px;
  display:flex;
  font-family:'Comic Sans MS Bold', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#499D01;
  text-align:center;
}
#v6 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#v6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v7 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:187px;
  width:601px;
  height:686px;
}
#v8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:39px;
}
#v8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:39px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:39px;
}
#v9 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:0px;
  width:422px;
  height:39px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
}
#v10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:179px;
  height:34px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:34px;
}
#v11 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:39px;
  width:422px;
  height:34px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:51px;
}
#v12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:179px;
  height:51px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:51px;
}
#v13 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:73px;
  width:422px;
  height:51px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:346px;
}
#v14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:179px;
  height:346px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:346px;
}
#v15 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:124px;
  width:422px;
  height:346px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:156px;
}
#v16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:179px;
  height:156px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:156px;
}
#v17 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:470px;
  width:422px;
  height:156px;
  display:flex;
  font-size:18px;
  text-decoration:underline ;
  color:#0000FF;
  line-height:18px;
}
#v17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:60px;
}
#v19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:626px;
  width:179px;
  height:60px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:60px;
}
#v20 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:626px;
  width:422px;
  height:60px;
  display:flex;
  font-size:18px;
  line-height:18px;
}
#v20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#v21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:686px;
}
#v21 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:187px;
  width:920px;
  height:686px;
  display:flex;
}
#v21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#v22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#v22 {
  border-width:0px;
  position:absolute;
  left:1668px;
  top:127px;
  width:140px;
  height:40px;
  display:flex;
  font-size:18px;
}
#v22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#v22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
