{% load static %}
{% load template %}
<html>
  <head>
    <title>publish</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/pstyle.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/pstyles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/document.js' %}"></script>
    <script src="{% static 'js/data.js' %}"></script>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="p0" class="ax_default box_1">
        <img id="p0_img" class="img " src="/media/image/p0.svg"/>
        <div id="p0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="p1" class="ax_default box_1">
        <img id="p1_img" class="img " src="/media/image/p1.svg"/>
        <div id="p1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="p2" class="ax_default icon">
        <a href="{% url 'user:profile'%}">
        <img id="p2_img" class="img " src="/media/image/p2.svg"/>
        </a>
        <div id="p2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="p3" class="ax_default heading_3">
        <div id="p3_div" class=""></div>
        <div id="p3_text" class="text ">
          {% if user.is_authenticated %}
          <p><span>Welcome, {{ user.get_username }},&nbsp;&nbsp;</span><a href="{% url 'som:som_model' %}">New Project,</a>&nbsp;&nbsp;<a href="{% url 'user:logout' %}">logout</a></p>
          {% endif %}
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="p4" class="ax_default heading_2">
        <div id="p4_div" class=""></div>
        <div id="p4_text" class="text ">
          <p style="font-size:24px;"><span style="font-size:24px;">SOM map</span><span> </span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="p5" class="ax_default icon">
        <img id="p5_img" class="img " src="/media/image/p5.svg"/>
        <div id="p5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Repeater) -->
      <div id="p6" class="ax_default">
        <script id="p6_script" type="axure-repeater-template">
        </script>
        <div id="p6-1" class="preeval" style="width: 0px; height: 0px;">
        </div>
        <div id="p6-2" class="preeval" style="width: 0px; height: 0px;">
        </div>
        <div id="p6-3" class="preeval" style="width: 0px; height: 0px;">
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="p7" class="ax_default">

      {% for each_data in data %}
        <form id="{{ forloop.counter0 }}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input id="did" name="did" type="text" value="{{ each_data|private:'_id' }}" hidden/>
      </form>

        <!-- Unnamed (Table Cell) -->
        <div id="p44" class="ax_default image" style="top:calc(90px*{{ forloop.counter0 }})">
          <img id="p44_img" class="img " src="/media/image/p44.png"/>
          <div id="p44_text" class="text ">
            <p><span>{{ each_data.author }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="p45" class="ax_default box_1" style="top:calc(90px*{{ forloop.counter0 }})">
          <img id="p45_img" class="img " src="/media/image/p45.png"/>
          <div id="p45_text" class="text ">
            <p><span>{{ each_data.time }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="p46" class="ax_default box_1" style="top:calc(90px*{{ forloop.counter0 }})">
          <img id="p46_img" class="img " src="/media/image/p46.png"/>
          <div id="p46_text" class="text ">
            <p><span>{{ each_data.file_name }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="p47" class="ax_default box_1" style="top:calc(90px*{{ forloop.counter0 }})">
          <img id="p47_img" class="img " src="/media/image/p47.png"/>
          <div id="p47_text" class="text ">
            <p><span>{{ each_data.description }}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="p48" class="ax_default box_1" style="top:calc(90px*{{ forloop.counter0 }})">
          <img id="p48_img" class="img " src="/media/image/p48.png"/>
          <div id="p48_text" class="text ">
          <input name="fname"  id="view_button" type="submit" form="{{ forloop.counter0 }}" hidden/>
                <label for="view_button">view</label>
        </div>
        </div>
        {% endfor %}
      </div>





      <!-- Unnamed (Rectangle) -->
      <div id="p57" class="ax_default heading_1">
        <div id="p57_div" class=""></div>
        <div id="p57_text" class="text ">
          <p><span>VISUALIZATION FORUM </span></p>
        </div>
      </div>

      <div id="p58" class="ax_default link_button" style="visibility: hidden">
        <img id="p58_img" class="img " src="/media/image/p58.svg"/>
        <div id="p58_text" class="text ">
        <p><input type="submit" id="Last" form="pages_last" hidden/>
          <label for="Last">Previous Page</label></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="p59" class="ax_default link_button">
        <img id="p59_img" class="img " src="/media/image/p58.svg"/>
        <div id="p59_text" class="text ">
        <p><input type="submit" id="Next" form="pages_next" hidden/>
          <label for="Next">Next Page</label></p>
        </div>
      </div>

      <form id="pages_next" enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <input id="page_n" name="page_n" value="{{ page }}" hidden/>
      </form>

      <form id="pages_last" enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <input id="page_l" name="page_l" value="{{ page }}" hidden/>
      </form>

<script>
  if (parseInt("{{ page }}")>0){ $('#p58').css('visibility','visible'); }
  else { $('#p58').css('visibility','hidden'); }
</script>

    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
  </body>
</html>
