{% load static %}
<html>
  <head>
    <title>view template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/vaxure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/vstyle.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/vstyles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/document.js' %}"></script>
    <script src="{% static 'js/data.js' %}"></script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="v0" class="ax_default box_1">
        <img id="v0_img" class="img " src="/media/image/v0.svg"/>
        <div id="v0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="v1" class="ax_default box_1">
        <img id="v1_img" class="img " src="/media/image/v1.svg"/>
        <div id="v1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="v2" class="ax_default icon">
        <img id="v2_img" class="img " src="/media/image/v2.svg"/>
        <div id="v2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="v3" class="ax_default heading_3">
        <div id="v3_div" class=""></div>
        <div id="v3_text" class="text ">
          <p><span>Username</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="v4" class="ax_default heading_2">
        <div id="v4_div" class=""></div>
        <div id="v4_text" class="text ">
          <p><span>SOM map </span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="v5" class="ax_default icon">
        <img id="v5_img" class="img " src="/media/image/v5.svg"/>
        <div id="v5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="v6" class="ax_default heading_1">
        <div id="v6_div" class=""></div>
        <div id="v6_text" class="text ">
          <p><span>VISUALIZATION FORUM </span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="v7" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="v8" class="ax_default table_cell">
          <img id="v8_img" class="img " src="/media/image/v8.png"/>
          <div id="v8_text" class="text ">
            <p><span>Project name</span></p>
          </div>
        </div>
        <!-- Unnamed (Table Cell) -->
        <div id="v9" class="ax_default table_cell">
          <img id="v9_img" class="img " src="/media/image/v9.png"/>
          <div id="v9_text" class="text " style="visibility: visible">
            {{ name }}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v10" class="ax_default table_cell">
          <img id="v10_img" class="img " src="/media/image/v10.png"/>
          <div id="v10_text" class="text ">
            <p><span>Author</span></p>
          </div>
        </div>
        <!-- Unnamed (Table Cell) -->
        <div id="v11" class="ax_default table_cell">
          <img id="v11_img" class="img " src="/media/image/v11.png"/>
          <div id="v11_text" class="text " style="visibility: visible">
            {{ Author }}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v12" class="ax_default table_cell">
          <img id="v12_img" class="img " src="/media/image/v12.png"/>
          <div id="v12_text" class="text ">
            <p><span>Publish data</span></p>
          </div>
        </div>
        <!-- Unnamed (Table Cell) -->
        <div id="v13" class="ax_default table_cell">
          <img id="v13_img" class="img " src="/media/image/v13.png"/>
          <div id="v13_text" class="text " style="visibility: visible">
            {{ Data }}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v14" class="ax_default table_cell">
          <img id="v14_img" class="img " src="/media/image/v14.png"/>
          <div id="v14_text" class="text ">
            <p><span>Description</span></p>
          </div>
        </div>
        <!-- Unnamed (Table Cell) -->
        <div id="v15" class="ax_default table_cell">
          <img id="v15_img" class="img " src="/media/image/v15.png"/>
          <div id="v15_text" class="text " style="visibility: visible">
			  {{ Description }}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v16" class="ax_default table_cell">
          <img id="v16_img" class="img " src="/media/image/v16.png"/>
          <div id="v16_text" class="text ">
            <p><span>Data file</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v17" class="ax_default table_cell">
          <img id="v17_img" class="img " src="/media/image/v17.png"/>
          <div id="v17_text" class="text " style="visibility: visible">
            {{ Data_file }}
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v19" class="ax_default table_cell">
          <img id="v19_img" class="img " src="/media/image/v19.png"/>
          <div id="v19_text" class="text ">
            <p><span>Attribute/Size</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="v20" class="ax_default table_cell">
          <img id="v20_img" class="img " src="/media/image/v20.png"/>
          <div id="v20_text" class="text " style="visibility: visible">
            {{ Size }}
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="v21" class="ax_default image">
        <img id="v21_img" class="img " src="/media/image/v21.png"/>
        <div id="v21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="v22" class="ax_default primary_button">
        <img id="v22_img" class="img " src="/media/image/v22.svg"/>
        <div id="v22_text" class="text ">
          <p><span>Back</span></p>
        </div>
      </div>
    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
  </body>
</html>
